{
    "env": {
        "browser": true
    },
    "globals": {
        "brackets": true,
        "importScripts": true,
        "postMessage": true,
        "onmessage": true,
        "requirejs": true,
        "require": true,
        "define": true,
        "$": true,
        "Mustache": true
    },
    "rules": {
        "no-underscore-dangle": 0
    }
}
