.CodeMirror *[class*="interactive-linter"] {
    z-index: 5;
}

.CodeMirror *[class*="interactive-linter-W015"] {
    border-bottom: 2px dotted #3a87ad;
}

.CodeMirror *[class*="interactive-linter-W"] {
    border-bottom: 2px dotted #f89406;
    z-index: 6;
}

.CodeMirror *[class*="interactive-linter-E"] {
    border-bottom: 2px dotted #bd362f;
    z-index: 7;
}

.CodeMirror .interactive-linter-gutter {
    width: 8px;
    margin-left: 8px;
    position: absolute;
    left: 0;
}

.CodeMirror .interactive-linter-gutter-messages {
	background-color: #ffc831;
	border-radius: 4px; 
	margin-top: 4px;
	width: 8px;
	height: 8px;
}

.CodeMirror .interactive-linter-gutter-errors {
    background-color: red;
}

.CodeMirror .interactive-linter-gutter-messages:hover {
    cursor: pointer;
}


/* twitter bootstrap alert colors */
.CodeMirror .interactive-linter-line-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.CodeMirror .interactive-linter-line-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}
