.CodeMirror *[class*="interactive-linter"] {
    z-index: 5;
}

.CodeMirror *[class*="interactive-linter-W015"] {
    border-bottom: 2px dotted #3a87ad;
}

.CodeMirror *[class*="interactive-linter-W"] {
    border-bottom: 2px dotted #f89406;
    z-index: 6;
}

.CodeMirror *[class*="interactive-linter-E"] {
    border-bottom: 2px dotted #bd362f;
    z-index: 7;
}

.CodeMirror .interactive-linter-gutter {
    width: 15px;
    margin-left: 7px;
}

/*icon image from http://findicons.com/icon/184668/light_bulb*/
.CodeMirror .interactive-linter-gutter-messages {
    background-image: url(img/light_bulb.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.CodeMirror .interactive-linter-gutter-errors {
    background-color: red;
    border-color: #f2dede;
    border-radius: 10px;
}

.CodeMirror .interactive-linter-gutter-messages:hover {
    cursor: pointer;
}


/* twitter bootstrap alert colors */
.CodeMirror .interactive-linter-line-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.CodeMirror .interactive-linter-line-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

