.CodeMirror *[class*="interactive-linter"] {
    z-index: 5;
}

.CodeMirror *[class*="interactive-linter-W015"] {
    border-bottom: 2px dotted #3a87ad;
}

.CodeMirror *[class*="interactive-linter-w"] {
    border-bottom: 2px dotted #f89406;
    z-index: 6;
}

.CodeMirror *[class*="interactive-linter-e"] {
    border-bottom: 2px dotted #bd362f;
    z-index: 7;
}

.CodeMirror .interactive-linter-gutter {
    width: 23px;
}


/*icon image from http://findicons.com/icon/184668/light_bulb*/
.CodeMirror .interactive-linter-gutter-messages {
    background-image: url(img/light_bulb.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    margin-left: 7px;
}

.CodeMirror .interactive-linter-gutter-errors {
    background-color: red;
    border-color: #f2dede;
    border-radius: 10px;
}

.CodeMirror .interactive-linter-gutter-messages:hover {
    cursor: pointer;
}

.CodeMirror .interactive-linter-line-widget {
    margin: 10px 0;

    /*Allow cursor to display area as text*/
    cursor: auto;

    /* Enable text selection */
    -webkit-user-select: text;
    user-select: text;
}

.CodeMirror .interactive-linter-line-error, .CodeMirror .interactive-linter-line-warning {
    padding: 0 15px;
    margin-left: 40px;
}

/* twitter bootstrap alert colors */
.CodeMirror .interactive-linter-line-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.CodeMirror .interactive-linter-line-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
}

@-webkit-keyframes pulse {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #ffb0cd;
    }
}

.interactive-linter-lint-indicator {
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
}

.interactive-linter-lint-indicator[status=error] {
    -webkit-animation: pulse 2s linear;
    -webkit-animation-iteration-count: 3;
    background-image: url(img/topcoat-error-15.svg);
}

.interactive-linter-lint-indicator[status=warning] {
    background-image: url(img/topcoat-warning-15.svg);
}

.interactive-linter-lint-indicator[status=okay] {
    background-image: url(img/topcoat-okay-15.svg);
}

.interactive-linter-lint-indicator[status=inactive] {
    background-image: url(img/topcoat-inactive-15.svg);
}
