<table class="bottom-panel-table table table-striped table-condensed row-highlight">
    <tbody>
        {{#results}}
            <tr class="inspector-section">
                <td colspan="3" class="provider-name expanded">{{provider.name}} ({{result.errors.length}})</td>
            </tr>
            {{#result.errors}}
                <tr>
                    <td class="line-number" data-character="{{pos.ch}}">{{friendlyLine}}</td>
                    <td class="line-text">{{message}}</td>
                    <td class="line-snippet">{{codeSnippet}}</td>
                </tr>
            {{/result.errors}}
        {{/results}}
    </tbody>
</table>
